# ignore everything in the root except the "src" directory
#!src/

# ignore everything in the "src" directory, except:
# "hdfs"
#!src/hdfs/

# ignore .class and .txt files
*.class
*.txt

# ignore specific files
#src/hdfs/CFiche*
#src/hdfs/RFiche*
#src/hdfs/NameNode*
#src/hdfs/HdfsClientRecuperation.java
#src/hdfs/HdfsServer1.java
#src/hdfs/HdfsServerRecuperation.java
#config/*
#data/generate.sh
#doc/*
#src/config/*
#src/application/*
#src/map/*
#src/ordo/*
.settings
.project*
.classpath*